{% extends 'generic/object.html' %}
{% load helpers %}
{% load plugins %}

{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item"><a href="{% url 'appm:application_list' %}">Applications</a></li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col col-md-6">
		<div class="card">
			<h5 class="card-header">Application</h5>
			<div class="card-body">
                <table class="table table-hover attr-table">
                    <tr>
                        <th scope="row">Name</th>
                        <td>{{ object.name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Slug</th>
                        <td>{{ object.slug }}</td>
                    </tr>
                    {% if object.group %}
                    <tr>
                        <th scope="row">Group</th>
                        <td><a href="{{ object.group.get_absolute_url }}">{{ object.group }}</a></td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th scope="row">Status</th>
                        <td>{% badge object.get_status_display bg_color=object.get_status_color %}</td>
                    </tr>
                    <tr>
                        <th scope="row">Environment</th>
                        <td>{% badge object.get_environment_display %}</td>
                    </tr>
                    {% if object.version %}
                    <tr>
                        <th scope="row">Version</th>
                        <td>{{ object.version }}</td>
                    </tr>
                    {% endif %}
                    {% if object.criticality %}
                    <tr>
                        <th scope="row">Criticality</th>
                        <td>{% badge object.get_criticality_display %}</td>
                    </tr>
                    {% endif %}
                    {% if object.tenant %}
                    <tr>
                        <th scope="row">Tenant</th>
                        <td><a href="{{ object.tenant.get_absolute_url }}">{{ object.tenant }}</a></td>
                    </tr>
                    {% endif %}
                </table>
			</div>
		</div>
        {% plugin_left_page object %}
	</div>
	<div class="col col-md-6">
		<div class="card">
			<h5 class="card-header">Management</h5>
			<div class="card-body">
                <table class="table table-hover attr-table">
                    {% if object.owner %}
                    <tr>
                        <th scope="row">Owner</th>
                        <td>{{ object.owner }}</td>
                    </tr>
                    {% endif %}
                    {% if object.business_unit %}
                    <tr>
                        <th scope="row">Business Unit</th>
                        <td>{{ object.business_unit }}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th scope="row">Servers</th>
                        <td><a href="{% url 'appm:applicationserver_list' %}?application_id={{ object.pk }}">{{ object.servers.count }}</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Endpoints</th>
                        <td><a href="{% url 'appm:applicationendpoint_list' %}?application_id={{ object.pk }}">{{ object.endpoints.count }}</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Personnel</th>
                        <td><a href="{% url 'appm:applicationpersonnel_list' %}?application_id={{ object.pk }}">{{ object.personnel.count }}</a></td>
                    </tr>
                    {% if object.description %}
                    <tr>
                        <th scope="row">Description</th>
                        <td>{{ object.description }}</td>
                    </tr>
                    {% endif %}
                </table>
			</div>
		</div>
        {% plugin_right_page object %}
	</div>
</div>
{% if object.comments %}
<div class="row">
    <div class="col col-md-12">
        <div class="card">
            <h5 class="card-header">Comments</h5>
            <div class="card-body rendered-markdown">
                {{ object.comments|markdown }}
            </div>
        </div>
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col col-md-12">
        {% plugin_full_width_page object %}
    </div>
</div>
{% endblock %}